@import '../config/reset.scss';



body{
  
  background-color: rgb(24,24,24);
  color: white;
}

.detalhes_movie{
  
  padding: 30px 10px;
  display: block;
  flex-wrap: wrap;
}

iframe{
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 60em;
  padding: 10px 100px;
  height: 40em;
}

h1{
  font-weight: bolder;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

p{
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 50%;
  padding: 30px;
  position: relative;
}

.play-button{
  font-weight: bolder;
  background-color: orange;
  display: block;
  position: relative;
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%)
}

@media (min-width: 300px) and (max-width:768px){

    iframe{
      width: 100%;
      max-height: 300px;
      padding: 10px;
    }
    p{
      width: 100%;
      padding-bottom: 0;
    }

    .play-button{
      left: 50%;
      transform: translateX(-50%) scale(0.7)
      
    }
}