@import "../config/reset.scss";
@import "../components/banner.scss";
@import "../style/movie_list.scss";


main{
  background-color: red (24, 24, 24);
  margin:0;
  padding: 0;
  font-size: 18px
}


.main-title{
  color: black;
  padding: 10px;
  text-align: center;
}



