

.movie-list{  
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  list-style: none;
  
}

@mixin movieSquare{
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
  width: 25%;
  cursor: pointer;
}

.first{
  @include movieSquare;
  background-image: url('https://flxt.tmsimg.com/assets/p11682476_b_h8_af.jpg');
}

.second{
  @include movieSquare;
  background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/db626980a3d452ed37a559bb10d65205a22333cf9f25b4792ad15a2351ea9e95._RI_V_TTW_.jpg');
}
.thirth{
  @include movieSquare;
  background-image: url('http://2.bp.blogspot.com/-KzxGvzAWy-U/UkXGSVQDx5I/AAAAAAAAAYw/6qR3lTPURgk/s1600/seriado-lost.jpg');
}
.fourth{
  @include movieSquare;
  background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/3f122417c55feda5c465f701320892661bfea27c1dfcff81e7fb0641ba29171c._RI_V_TTW_.jpg');
}
.five{
  @include movieSquare;
  background-image: url('https://i.ytimg.com/vi/9sx6_agXRvk/maxresdefault.jpg');
}
.six{
  @include movieSquare;
  background-image: url('https://2.bp.blogspot.com/-i-Xf35MG2Lg/WUvKrBMHPyI/AAAAAAAALn8/E3IcrM_61Pwct5_DcdML1P2okrE_WhvNQCLcBGAs/s1600/258ec2aa43c209f7e1b5081a5cac64a9-interstellar-1468642810.jpg');
}

.movie-text{
  font-size: 20px;
  font-weight: bold;
  text-align: center;  
  overflow: hidden;
  text-overflow: ellipsis;
  padding:20px 10px;
  text-align: center;
  top: 80%;
  color:white;
  position: relative;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}

.movie-text:hover{
  overflow: visible;
  font-size: 1.2rem;
  background-color: black;
  position: relative;
  z-index: 2;
  transform: scale(1.2) translateY(-20%);
  border-radius: 10px;
}

.movie-button{
  position: relative;
  padding:10px;
  left: calc(80% - 20px);
  background-color: rgba(0, 0, 0, 0.7);
  width: 6rem;
  height: 3rem;  
  border-radius: 5px;
}

.movie-button > a{
  text-decoration: none;
  color: white;
}

.movie-button:hover{
  transform: scale(1.2);
  
}

@media (min-width: 300px) and (max-width: 1366px) {
  .movie1{
    margin: 10px;
    width: 100%  
  }

  .movie-text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }

  .movie-button{
    position: relative;
    padding:0;
    left: calc(80% - 60px);
  }
}