*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: green;
}

header{
    position:sticky;
    top: 0;
    background-color: black; 
    padding: 10px;
    z-index: 99
}

.menu{
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.brasao{
    height: 50px;
    position: relative;

}

.background{
    width: 100vw;
    background-image: url('https://www.zppconstrucoes.com.br/wp-content/uploads/2017/09/Batatais-700x460.jpg') ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;  
    z-index: -2;
}

.base{
    
    height: 700px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
    top: 10%;
    display: flex;
    position: relative;
    z-index: -1;
}



a{
    color: white;
    text-decoration: none;
}

h1{
    
    padding: 20px;
    text-align: center;
}

div{
    padding: 10px;
}

form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    top: 10%;
    padding: 20px;
    text-align: center;
    font-weight: 600;  
   
}

input, textarea, select, button{
    padding: 10px;
    border-radius: 20px;
}

input:hover{
    transform: scale(1.2);
}
select:hover{
    transform: scale(1.2);
}

button{
    padding: 10px;
    font-weight: 600;
    width: 100px;
    height: auto;
    background-color: green;
    color: white;
}

@media (min-width: 200px) and (max-width: 720px) {
   
  

    .background{
        height: 130vh;
    }

    .base{ 

        background-color: aliceblue;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        top: 10%;
        align-self: center;
        justify-self: center;
        display: flex;
        position: relative;
        z-index: -1;
    }
}